<div class="row bg-dark text-light">
  <div class="col col-lg-2">Name</div>
  <div class="col col-lg-4">Description</div>
  <div class="col col-lg-2">Links</div>
  <div class="col col-lg-2">License</div>
  <div class="col col-lg-2">Tags</div>
</div>
{% for item in include.catalogue %}
  <div class="row" id="{{item.title}}">
    <div class="col-12 col-lg-2">{{ item.name }}</div>
    <div class="col-12 col-lg-4">{{ item.description | truncate: 900 }}
    </div>
    <div class="col-12 col-lg-2">
      {% if item.links %}
        <ul class="dense">
          {% for link in item.links %}
            <li>
              <a href="{{link.url}}">{{ link.name }}</a>
              {% if link.notes %}
                ({{ link.notes }})
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="col-12 col-lg-2">{{ item.license }}</div>
    <div class="col-12 col-lg-2">{{ item.tags }}</div>
  </div>
{% endfor %}